/* 로그인,회원가입 공통 */
body {
  background-color: #f5f5f5;
}
#wrap {
  height: 100vh;
}
.inner {
}
.login-wrap, .agree-wrap{
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
}
.join-wrap {
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
}
.login-header, .agree-header, .join-header {
  text-align: center;
  border-bottom: 1px solid #E3E3E3;
  padding-bottom: 30px;
}
.login-header h1 a img, .agree-header h1 a img, .join-header h1 a img{
  width: 75px;
}
.login-header h2, .agree-header h2, .join-header h2 {
  font-size: 3rem;
  font-weight: 600;
}
.login-header p {
  font-size: 2rem;
  color: #999;
}
.container {
  padding: 30px 25px 0;
}
#login-form > input{
  width: 100%;
  height: 50px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  cursor:pointer;
}
#login-form > input[type="text"]:focus,
#login-form > input[type="password"]:focus {
  outline: 1px solid #51CED3;
}
#login-form > input::placeholder{
  color: #999;
}
#login-form > input[type="submit"]{
  color: #fff;
  font-size: 16px;
  background-color: #51CED3;
  margin-top: 35px;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label{
  margin-right: 20px;
  cursor:pointer;
}
input[type="checkbox"] + label > span{
  vertical-align: middle;
  padding-left: 10px;
}
input[type="checkbox"] + label:before{
  content:"";
  display:inline-block;
  width:20px;
  height:20px;
  border:1px solid #e3e3e3;
  border-radius: 3px;
  vertical-align:middle;
}
input[type="checkbox"]:checked + label:before{
  content:"";
  background-color:#51CED3;
  border:1px solid #51CED3;
  border-color:var;
  background-image: url('../img/input.png');
  background-repeat: no-repeat;
  background-position: 50%;
  }
.container p {
  text-align: center;
}
.container p a {
  text-decoration: underline;
  font-weight: 600;
  margin-left: 10px;
}
#wrap #footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

/* 약관동의 */
.agree-header ul, .join-header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 10px;
}
.agree-header ul li, .join-header ul li{
  width: 30px;
  height: 30px;
  line-height: 29px;
  border: 1px solid #999;
  color: #999;
  border-radius: 100%;
  font-size: 1.2rem;
  font-weight: 500;
}
.agree-header ul li:first-child {
  border: 2px solid #51CED3;
  color: #51CED3;
  position: relative;
}
.join-header ul li:first-child {
  position: relative;
  border: 2px solid #51CED3;
  font-size: 0;
  background: #51CED3 url(../img/input.png) no-repeat center;

}
.agree-header ul li:first-child::after {
  content: '';
  display: block;
  width: 20px;
  height: 1px;
  background-color: #999;
  position: absolute;
  top: 50%;
  right: -22px;
}
.join-header ul li:first-child::after {
  content: '';
  display: block;
  width: 20px;
  height: 1px;
  background-color: #51CED3;
  position: absolute;
  top: 50%;
  right: -22px;
}
.container h3 {
  font-weight: 500;
  font-style: 1.5rem;
  margin-bottom: 10px;
}
.check-wrap{
  background-color: #fff;
  border: 1px solid #E3E3E3;
  padding: 25px 25px;
  border-radius: 5px;
}
.all-check {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #e3e3e3;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.list li {
  display: flex;
  justify-content: space-between;
}
.list li button {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #999;
  color: #999;
  font-size: 1.5rem;
  font-weight: 500;
}
input[type="submit"] {

}
form > a {
  background-color: #51CED3;
  display: block;
  width: 100%;
  height: 50px;
  margin: 25px 0;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  font-size: 1.5rem;
}
/* 회원가입 */
#wrap-j footer {
  width: 100%;
  text-align: center;
  margin-top: 70px;
}
.join-header ul li:last-child {
  border: 2px solid #51CED3;
  color: #51CED3;
  position: relative;
}
#join-form h4 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}
#join-form input {
  width: 100%;
  height: 50px;
  padding: 0 18px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}
select {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 0 10px;
}
.useremail {
  position: relative;
}
.useremail button {
  position: absolute;
  width: 90px;
  height: 50px;
  top: 32px;
  right: 0;
  margin: auto 0;
  border-radius: 0 5px 5px 0;
  border: 0;
  background-color: #ddd;
  color: #fff;
}
.userpassword input:nth-child(3) {
  margin-top: -15px;
}
#join-form span {
  font-size: 1.3rem;
  margin-top: -15px;
  display: block;
}

